

<div class="container-fluid" style="background-color: lightblue; height: 100vh;">
  <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div id="contacto" class="row contacto d-flex justify-content-center fondoContacto"  >
                <div class="col-12 col-md-6">
                    <h2 class="text-center p-2 mt-4">Registrate!</h2>
                    <form  action="/contacto/" method="post" id="formulario" style="color:white; opacity: 0.9;">
                        <div class="form-group text-left">
                            <label for="nombre">Nombre (*)</label>
                            <input type="texto" class="form-control" id="nombre" name="nombre" placeholder="Coloque su nombre aquí"> 
                        </div>
                        <div class="form-group text-left">
                            <label for="nombre">Apellido (*)</label>
                            <input type="texto" class="form-control" id="apellido" name="apellido" placeholder="Coloque su apellido aqui"> 
                        </div>
                        <div class="form-group text-left">
                            <label for="email">Email (*)</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Coloque su correo electrónico aquí">
                        </div>
                        <div class="form-group text-left">
                            <label for="nombre">Teléfono Celular (*)</label>
                            <input type="texto" class="form-control" id="telefono" name="telefono" placeholder="Coloque su teléfono celular"> 
                        </div>
                        <div class="form-group text-left">
                            <label for="nombre">Edad </label>
                            <input type="texto" class="form-control" id="edad" name="edad" placeholder="Coloque su edad (opcional)"> 
                        </div>
                        <div class="form-group text-left">
                            <button type="submit" class="btn btn-primary form-control mt-5 mb-5">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
      

        