
<div class="container-fluid" style="background-color: lightblue; height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <h1 class="text-center text-dark p-2 mt-4">Alta de Productos</h1>
      <form action="/products/create" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="formGroupExampleInput">Nombre</label>
          <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Ingrese el nombre del producto" name="name" value="{{name}}">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Descripci&oacute;n</label>
          <input class="form-control" id="formGroupExampleInput2" type="text" placeholder="Describa el producto" name="description" value="{{description}}">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput3">Presentaci&oacute;n</label>
          <input class="form-control" id="formGroupExampleInput3" type="text" placeholder="Detalle las caracteristicas del producto" name="presentation" value="{{presentation}}">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Talle</label>
          <input class="form-control" id="formGroupExampleInput4" type="text" placeholder="XS - S - M - L - XL - XXL" name="unit" value="{{unit}}">
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <button class="btn btn-success btn-block m-4" type="submit">Agregar</button>

            <a class="btn btn-dark btn-block m-4" href="/products/list/">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>