<div class="container-fluid" style="background-color: lightblue; height: 100vh;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">


            <h1 class="text-center text-dark p-2 mt-4">Eliminar Producto</h1>

           {{#each data}}
          

             <form action="/products/delete/{{id}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="formGroupExampleInput">Nombre</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="name" value="{{name}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Descripción</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="description"  value="{{description}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput3">Presentación</label>
                    <input type="text" class="form-control" id="formGroupExampleInput3" name="presentation" value="{{presentation}}" disabled>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput4">Talle</label>
                    <input type="text" class="form-control" id="formGroupExampleInput4" name="unit" value="{{unit}}" disabled>
                </div>

                <button type="submit" class="btn btn-danger btn-block mt-5">Eliminar</button>

                <a href="/products/list/" class="btn btn-dark btn-block mt-4 mb-4">Cancelar</a>


            </form>   

            {{/each}}  




        </div>
    </div>
</div>