<div class="container">
  <div class="row justify-content-center" style="height: 100vh;">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="alert alert-info" role="alert">
        <p>{{mensaje}}</p><a class="btn btn-primary btn-block mt-5" href="/products/list/"> Regresar</a>
      </div>
    </div>
  </div>
</div>