
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signin">Ingresar</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Nosotras</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Registrarse</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Masthead-->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">showroom</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">STP Stock Online</h2><a class="btn btn-primary js-scroll-trigger" href="#signin">Ingresar</a>
    </div>
  </div>
</header>
<!-- Signin-->
<section class="signin-section text-center" id="signin">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Control de Stock Online</h2>
        <p class="text-white-50">Est accusamus consequatur autem delectus, officia nihil dolorem optio maxime consequuntur nesciunt aliquam animi hic atque suscipit voluptatibus corporis harum. Quaerat quia similique quos laborum et atque temporibus reprehenderit tempore, quidem, porro doloribus non. Eius architecto, rerum iste delectus veritatis sit voluptatum esse quod adipisci aspernatur quaerat cum sed, culpa repellendus reiciendis quidem impedit vel hic? Voluptate vitae dolorum repellendus reprehenderit. Laboriosam assumenda autem quam cumque quidem, deleniti voluptates rem nemo non porro distinctio nulla rerum dolorum beatae, totam cum accusantium excepturi ducimus numquam neque, iure temporibus recusandae laudantium sint! Neque, consectetur.</p><a class="btn btn-primary js-scroll-trigger" href="/products/list">Acceso Usuarios</a>
      </div>
    </div>
  </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <div class="container">
    <Featured> </Featured>
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-lg-0" src="images/logo.jpg" alt="logo"/></div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Indumentaria Femenina</h4>
          <p class="text-black-50 mb-0">Quaerat quia similique quos laborum et atque temporibus reprehenderit tempore, quidem, porro doloribus non. Eius architecto, rerum iste delectus veritatis sit voluptatum esse quod adipisci aspernatur quaerat cum sed, culpa repellendus reiciendis quidem impedit vel hic? Voluptate vitae dolorum repellendus reprehenderit. Laboriosam assumenda autem quam cumque quidem, deleniti voluptates rem nemo non porro distinctio nulla rerum dolorum beatae, totam cum accusantium excepturi ducimus numquam neque, iure temporibus recusandae laudantium sint! Neque, consectetur.</p>
        </div>
      </div>
    </div>
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6"><img class="img-fluid" src="images/para logo.jpg" alt=""/></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Misty</h4>
              <p class="mb-0 text-white-50">Quaerat quia similique quos laborum et atque temporibus reprehenderit tempore, quidem, porro doloribus non. Eius architecto, rerum iste delectus veritatis sit voluptatum esse quod adipisci aspernatur quaerat cum sed, culpa repellendus reiciendis quidem impedit vel hic? Voluptate vitae dolorum repellendus reprehenderit. Laboriosam assumenda autem quam cumque quidem, deleniti voluptates rem nemo non porro distinctio nulla rerum dolorum beatae, totam cum accusantium excepturi ducimus numquam neque, iure temporibus recusandae laudantium sint! Neque, consectetur.</p>
              <hr class="d-none d-lg-block mb-0 ml-0"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6"><img class="img-fluid" src="images/anterior.jpg" alt=""/></div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Mountains</h4>
              <p class="mb-0 text-white-50">Quaerat quia similique quos laborum et atque temporibus reprehenderit tempore, quidem, porro doloribus non. Eius architecto, rerum iste delectus veritatis sit voluptatum esse quod adipisci aspernatur quaerat cum sed, culpa repellendus reiciendis quidem impedit vel hic? Voluptate vitae dolorum repellendus reprehenderit. Laboriosam assumenda autem quam cumque quidem, deleniti voluptates rem nemo non porro distinctio nulla rerum dolorum beatae, totam cum accusantium excepturi ducimus numquam neque, iure temporibus recusandae laudantium sint! Neque, consectetur.</p>
              <hr class="d-none d-lg-block mb-0 mr-0"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-md-10 col-lg-12 mx-auto text-center"><i class="far fa-paper-plane fa-2x mb-2"></i>
        
        <h2 class="text-center-50 m-0">Unite a la comunidad</h2>
        
      </div>
      <div class="col-md-8 col-lg-10 mx-auto text-center">
        <div class="featured-text text-center text-lg-center">
          <h2 class="m-4">Sisters Talles Positivos</h2>
          <p class="text-justify mt-4">Quaerat quia similique quos laborum et atque temporibus reprehenderit tempore, quidem, porro doloribus non. Eius architecto, rerum iste delectus veritatis sit voluptatum esse quod adipisci aspernatur quaerat cum sed, culpa repellendus reiciendis quidem impedit vel hic? Voluptate vitae dolorum repellendus reprehenderit. Laboriosam assumenda autem quam cumque quidem, deleniti voluptates rem nemo non porro distinctio nulla rerum dolorum beatae, totam cum accusantium excepturi ducimus numquam neque, iure temporibus recusandae laudantium sint! Neque, consectetur.</p>
          <a class="btn btn-primary justify-content-center mt-5" href="./contacto/"> Registrarse</a>
        </div>
      </div>
                
             
           

      
    </div>
  </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center"><i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Dirección</h4>
            <hr class="my-4"/>
            <div class="small text-black-50">Nazarre 6155, C.A.B.A.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center"><i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4"/>
            <div class="small text-black-50"><a href="#!">sister.positivos@gmail.com</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center"><i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Teléfono</h4>
            <hr class="my-4"/>
            <div class="small text-black-50">+54 (011) 4902-8832</div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-center"><a class="mx-2" href="#!" target="_blank"><i class="fab fa-twitter"></i></a><a class="mx-2" href="https://www.facebook.com/sisterstallespositivos/" target="_blank"><i class="fab fa-facebook-f"></i></a><a class="mx-2" href="https://www.instagram.com/sisterstallespositivos/" target="_blank"><i class="fab fa-instagram"></i></a></div>
  </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
  <div class="container">Copyright &copy; STP 2021</div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script src="/javascripts/scripts.js"></script>
