
<!-- Navigation
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signin">Ingresar</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Nosotras</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Registrarse</a></li>
      </ul>
    </div>
  </div>
</nav>-->

<div class="container">
  <div class="row justify-content-center" style="height: 100vh;">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="alert alert-info" role="alert">
        <table class="table table-striped">
          <thead class="thead-dark text-center">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Presentación</th>
            <th scope="col">Talle</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </thead>
          <tbody class="table-light text-center">           
                {{#each data}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{presentation}}</td>
                        <td>{{unit}}</td>
                        <td class="text-center"> <a href="/products/update/{{id}}" class="btn btn-primary">Editar</a> </td>
                        <td class="text-center"> <a href="/products/delete/{{id}}" class="btn btn-danger">Eliminar</a></td>      
                    </tr>
                {{/each}}  
          </tbody>
        </table> 
        <div class="col-12 d-flex justify-content-center align-items-center">
            <a class="btn btn-success btn-lg m-5" href="./create/"> Agregar Producto</a>
            <a class="btn btn-dark btn-lg m-5" href="/"> Cerrar Sesion</a>
        </div>

        
                   
      </div>         
    </div>
  </div>
</div>