<div class="container-fluid" style="background-color: lightblue; height:100vh;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="text-center text-dark p-2 mt-4">Modificar Producto</h1>
                {{#each data}}
                    <form action="/products/update/{{id}}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Nombre</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="name" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Descripción</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="description"  value="{{description}}">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput3">Presentación</label>
                            <input type="text" class="form-control" id="formGroupExampleInput3"  name="presentation" value="{{presentation}}">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput4">Talle</label>
                            <input type="text" class="form-control" id="formGroupExampleInput4" name="unit" value="{{unit}}">
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary btn-block m-4">Modificar</button>
                            <a href="/products/list/" class="btn btn-dark btn-block m-4">Cancelar</a>
                        </div>
                    </form>   
                {{/each}}  
        </div>
    </div>
</div>